* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  width: 100%;
  height: 90px;
  background-color: #190019;
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}
.fa-bars {
  font-size: 30px;
  display: none;
}
ul a {
  text-decoration: none;
  color: white;
}
.basket,
.wishlist,
.about,
.contact,
.login {
  border: 2px solid #190019;
  padding: 10px 12px;
  transition: 0.3s;
}
.login {
  border-bottom-color: goldenrod;
}
.basket:hover,
.wishlist:hover,
.about:hover,
.contact:hover,
.login:hover {
  border-top-color: goldenrod;
  border-bottom-color: goldenrod;
}
.title-home {
  font-size: 30px;
}
.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  outline: none;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #2b124c;
  display: flex;
  position: static;
  bottom: 0px;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 90%;
  margin: auto;
  font-size: 20px;
  align-items: center;
}

.contact-list {
  display: flex;
  list-style: none;
}
.contact-list li {
  margin-left: 20px;
  font-size: 20px;
}
.container {
  width: 70%;
  height: 600px;
  border: 1px solid black;
  border-radius: 12px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
}
.content-div {
  border-right: 1px solid black;
  width: 30%;
  height: 100%;
}
.header-div {
  border-bottom: 1px solid black;
  margin: auto;
  width: 90%;
  height: 25%;
  display: flex;
  align-items: center;
  gap: 30px;
  /* justify-content: space-between; */
}
.menu-div {
  margin: auto;
  width: 90%;
  height: 25%;
}

.profile-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}
.profile-img img {
  object-fit: cover;
}
.header-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-list {
  list-style: none;
  margin-top: 50px;
}
.menu-list li {
  padding: 20px;
  transition: 0.2s;
}
.menu-list li:hover {
  background-color: #7c5cc597;
  border-top: 1px solid black;
}
.menu-list li:hover a {
  font-weight: 600;
}
.menu-list li a {
  color: black;
  font-size: 20px;
  color: #774da1;
}
.main-content {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fa-box-open {
  font-size: 50px;
  margin: 20px;
  color: #ba43a5;
}
.start-btn {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #623eb5;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin: 20px;
  transition: 0.2s;
}
.start-btn:hover {
  opacity: 0.8;
}
/* responsive */
@media only screen and (max-width: 1000px) {
  .basket,
  .wishlist,
  .about,
  .contact,
  .login {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .search-input {
    height: 40px;
    margin-left: 80px;
  }
  .title-home {
    font-size: 40px;
  }
}

@media only screen and (max-width: 720px) {
  .search-input {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .footer-list {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    font-size: 20px;
  }
  .contact-list {
    margin-left: -20px;
  }
  .footer-list li {
    margin-top: 20px;
  }
}
