@use "./../abstracts/variables" as *;
@use "./../abstracts/mixin" as *;
@use "./../abstracts/extends" as *;
header{
    width: 100%;
    height: 100px;
    background-color: skyblue;
    border: none;
}