@use "./../abstracts/variables" as *;
@use "./../abstracts/mixin" as *;
@use "./../abstracts/extends" as *;

.navbar{
    width: 80%;
    height: 100px;
    background-color: skyblue;
    border: none;
    @include display;
    @include flexJustifyContent ;
    @include marginAuto;
    @include flexAlignContent;
    ul{
        list-style: none;
        display: flex;
        li{
            padding: 15px;
            font-family: $font;
        }
        li:hover{
            color: gray;
            cursor: pointer;
        }
    }
    h1{
        font-family: $font;
    }


}