main{
    width: 100%;
}
main .box{
    width: 100%;
    height: 300px;
    background-color: #212529;


    .details{
        // position: absolute;
        // top: 90px;
        // left: 680px;
        text-align: center;
        h1{
            color: white;
            font-weight: 7  00;
            font-size: 60px;
            
        }
        p{
            color:#90928E ;
            font-size: larger;
        }
    }
    
}

main .cards{
    width: 1200px;
    margin: auto;
    .card-body{
        height: 200px;
        position: relative;
    }

}