
@media only screen and (max-width:900px) {
    main .box{
        width: 100%;
    }
}
@media only screen and (max-width:1200px) {
    main .box{
        width: 100%;
    }
    main .box{
        width: 1200px;
    }
    
}